
.md-content img {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-bottom: 20px;
  display: block;
  margin-left: 35px;
}

.md-content img.emoji-icon {
  border-width: 0px;
  border-style: solid;
  border-color: black;
  margin-bottom: -5px;
  margin-left: 0px;
  display: inline;
  height: 1.5em;
}

.md-grid {
  max-width: 80%;
}
